<h2><%= @alphabet.japanese%></h2>
<hr>
<a href="<%= new_alphabet_alphabet_image_path%>" class="btn btn-primary">Add Alphabet Image</a>
<%= link_to("Delete Alphabet", alphabet_path(@alphabet) , method: :delete) %>
<hr>
<h3>Alphabet Learn </h3>
<img src="<%= @alphabet.image_writing %>" class="img-responsive"> <hr>
<img src="<%= @alphabet.image_compare %>" class="img-responsive"> <hr>

<h3>Alphabet Image</h3> <hr>
<div class="list-group">
    <% @alphabet.alphabet_images.each do |item| %>
        <a href="#" class="list-group-item">
            <img src="<%= item.image_association %>" class="img-responsive"> <hr>
        </a>
    <% end %>
</div>